.footer {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainpadding {
  padding: 2em;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.boxes {
  font-size: 1.5rem;
  color: black;
}
