bin
bin/**
*.aux
*.log
*.out
api/venv
_release
_release/**
_debug
_debug/**
.vscode
.env/**
.env
venv
venv/**
.venv
.venv/**
consume/**
consume
temp
api/__pycache__
.direnv
node_modules/
.next/
api/users.json
api/sessions.json
build/
build/**
__pycache__
__pycache__/**
pairs/**
opus/**
training/**
pairs
opus
training
datasets
datasets/**
*.pkl